body{
    background:#b8b365;
    display: flex;
    justify-content: center;
}

.regForm{
    background: skyblue;
    width: 20%;
    padding: 10px;
    margin: 40px;
    font-size: 20px;
}

.name{
    display:flex;
    justify-content: center;

}

.submitBottom{
    display:flex;
    justify-content: center;
}