

div.background {
position: absolute;
   z-index: 1
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}




.regForm{
    position: absolute;
    z-index: 3
    background: skyblue;
    width:50%;
    padding-left: 900px;
    padding-top: 550px;
    margin: 40px;
    font-size: 30px;
}

.name{
    display:flex;
    justify-content: center;

}

.submitBottom{
    display:flex;
    justify-content: center;

}